@model IEnumerable<ERP_ZORZAL.Models.tbInventarioFisicoDetalle>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Inventario Fisico Detalle</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-responsive" style="width:100%" id="DataTable">
                        <thead>
                            <tr>
                                <th>
                                    Cantidad sistema
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Unidad de Medida
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                    <tr>
                        <td>
                            0.00
                        </td>
                        <td>
                           Camisa Polo 
                        </td>
                        <td>
                           0.00
                        </td>
                        <td>
                           Unidad
                        </td>
                    </tr>
                
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
 </div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#DataTable').DataTable({

        "searching": false,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });
    });
</script>

