@model Inspinia_MVC5_SeedProject.Models.tbEntrada



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Factura</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Nº factura</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" value="15610200" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Proveedor</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" value="1613-1999-0033823" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Tipo Pago</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" value="Efectivo" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Compra</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="" name="" re>
                                        <option>Productos Comprados</option>
                                        <option>10 Camisetas</option>
                                        <option>50 Pantalones Jeans</option>
                                        <option>10 Pantalones Tela</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Isv</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" value="12.2" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Total a Pagar</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" value="1500.25" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Fecha</label>
                                <div class="col-md-6">
                                    <input class="text-box single-line" value="24/11/2018" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-10">
                                @Html.ActionLink("Regresar", "IndexCompra", null, new { @class = "btn btn-white" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













