@model Inspinia_MVC5_SeedProject.Models.tbEntrada
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Entrada Por Traslado</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Editar</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar</h5>
                </div>
                <div class="ibox-content">



                    <div class="form-horizontal">


                        <div class="form-group">

                            <div class="col-md-10">
                                <label class="control-label col-md-2">Producto</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line" value="pantalones" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Unidad De medida</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line" value="50" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Precio Unitario</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line" value="700.00" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Fecha Entrada</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line" value="24/11/2018" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Bodega Remitente</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line" value="Bodega S.P.S" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Bodega Recepcion</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line" value="Bodega central" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label col-md-2">Usuario</label>
                                <div class="col-md-10">
                                    <input class="text-box single-line" value="Juanito Alcachofaz" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                @Html.ActionLink("Cancelar", "IndexCompra", null, new { @class = "btn btn-white" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
