
@{
    ViewBag.Title = "TabBodega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TabBodega</h2>
<div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabbs="tabs">
            <li class="active" >
                <a href="#tab1" data-toggle="tab">Bodegas </a>
            </li>
            <li class="active">
                <a href="#tab2" data-toggle="tab">Numeración </a>
            </li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="tab1">
                 <div class="row">
                     <div id="menu" class="col-lg-12">
                         @*@using (Ajax.BeginForm("", "", null, new AjaxOptions
                         {
                             HttpMethod = "POST",
                             InsertionMode = InsertionMode.Replace,
                             UpdateTargetId = "menu"
                         }))
                         { @Html.AntiForgeryToken()
                         <br /> 
                         <div class="form-group">
                             <div>
                                 Html.TextBoxFor()
                             </div>
                             <button class="use-ajax">Process </button>
                         </div>
                         }*@

                     </div>
                  </div>
            </div>
        </div>
    </div>
</div>

