@model ERP_ZORZAL.Models.tbAccesoRol




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Acceso Rol</h5>

                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.acrol_Descripcion, new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    <input type="text" value="N/A" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.acrol_Descripcion)
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label class="col-md-10" style="text-align:center">Objetos No Asignados</label>
                                <table class="table table-bordered" id="DatosTras">
                                    <tr>
                                        <td style="color:white" bgcolor="#1ab394">Pantallas</td>
                                        <td bgcolor="#1ab394"></td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-2" align="center">
                                <br /><br /><br>
                                <div>
                                    <input id="bt_add1" type="button" value="&#9668; Quitar &nbsp;&nbsp;" class="btn btn-primary btn-xs" />
                                </div>
                                <div>
                                    <input type="button" value="Agregar &#9658;" class="btn btn-primary btn-xs" />
                                </div>
                            </div>

                            <div class="col-md-5">
                                <label class="col-md-10" style="text-align:center">Objetos Asignados</label>
                                <table class="table table-bordered" id="">
                                    <tr>
                                        <td style="color:white" bgcolor="#1ab394">Pantallas</td>
                                        <td bgcolor="#1ab394"></td>
                                    </tr>
                                    <tr>
                                        <td>Bodega</td>
                                        <td><input name="id02" type="checkbox" id="id02" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#bt_add1').click(function () {
            agregar1();
        });
    });
    var cont = 0
    function agregar1() {
        cont++
        var fila = '<tr class="" id=bt_Elimimar' + cont + '"onclick="seleccionar(this.id);"><td>Bodega</td><td><input name="id02" type="checkbox" id="id02" /></td></tr>';
        $('#DatosTras').append(fila);
    }
    $(function () {
        $('#bt_Elimimar').click(function () {
            agregar1();
            event.preventDefault();
            $(this).closest('tr').remove();
        });
    });
</script>