@model IEnumerable<ERP_GMEDINA.Models.tbAccesoRol>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @*<div class="ibox-content">*@
                    <table class="table table-responsive" style="width:100%" id="DataTable">
                        <thead>
                            <tr style="font-weight: bold">
                                <td style="width:100px">
                                    @*@Html.DisplayNameFor(model => model.obj_Id)*@
                                    Codigó
                                </td>
                                <td>
                                    @*@Html.DisplayNameFor(model => model.tbObjeto.obj_Pantalla)*@
                                    Pantalla
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                @*</div>*@
            </div>
        </div>
    </div>
 </div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script src="~/Scripts/app/PartialViewGetObjectos.js"></script>*@

