@model ERP_GMEDINA.Models.tbEstadoMovimiento

@{
    ViewBag.Title = "DetallePrueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalle</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Estado Movimiento</h5>
                </div>
                @Html.ActionLink("regresar al Listado", "Index", null, new { @class = "btn btn-white" })
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Estado Movimiento
        </dt>

        <dd>
            Activo
        </dd>

        <dt>
            Usuario Crea
        </dt>

        <dd>
            Test_2018
        </dd>

        <dt>
            Fecha Crea
        </dt>

        <dd>
            27/11/2018
        </dd>

        <dt>
            Usuario Modifica
        </dt>

        <dd>
           DB2018
        </dd>

        <dt>
            Fecha Modifica
        </dt>

        <dd>
            28/11/2018
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "EditarPrueba", null, new { @class = "btn btn-primary"})
        

                </div>
            </div>
        </div>
    </div>
 </div>













