@model Inspinia_MVC5_SeedProject.Models.tbBodegaDetalle



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
          Id Bodega
        </dt>

        <dd>
           000000
        </dd>

        <dt>
           Producto Codigo
        </dt>

        <dd>
           00000000
        </dd>

        <dt>
           Cantidad Minima
        </dt>

        <dd>
            100
        </dd>

        <dt>
           Cantidad Maxima
        </dt>

        <dd>
            500
        </dd>

        <dt>
           Punto Reorden
        </dt>

        <dd>
           La Ceiba
        </dd>

    </dl>

    @Html.ActionLink("Regresar", "Index_BodegaDetalle", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













