@model ERP_ZORZAL.Models.tbEntrada

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Entradas</h2>
        @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Details</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Entrada")">Regresar</a>
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Entrada</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Numero Formato
        </dt>

        <dd>
            1
        </dd>

        <dt>
            Fecha Elaboracion
        </dt>

        <dd>
            
        </dd>

        <dt>
            Factura Compra
        </dt>

        <dd>
            
        </dd>

        <dt>
            Fecha Compra
        </dt>

        <dd>

        </dd>

        <dt>
            fact_Id
        </dt>

        <dd>
            
        </dd>

        <dt>
            RazonDevolucion
        </dt>

        <dd>
            
        </dd>

        <dt>
            BodegaDestino
        </dt>

        <dd>
            
        </dd>

        <dt>
            Creado Por:
        </dt>

        <dd>
            
        </dd>

        <dt>
            Creado en:
        </dt>

        <dd>
            
        </dd>

        <dt>
            Modificado Por:
        </dt>

        <dd>
            
        </dd>

        <dt>
            Modificado en:
        </dt>

        <dd>
            
        </dd>

        <dt>
            ResponsableBodega
        </dt>

        <dd>
            
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            
        </dd>

        <dt>
            Nombre Proveedor
        </dt>

        <dd>
            
        </dd>

        <dt>
            TipoEntrada
        </dt>

        <dd>
            
        </dd>

    </dl>

	    @Html.ActionLink("Editar", "Editar", null, new { @class = "btn btn-primary"})

                </div>
            </div>
        </div>
    </div>
 </div>













