@model Inspinia_MVC5_SeedProject.Models.tbEntrada

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Listado", "Index")
            </li>
            <li class="active">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Entrada</h5>
                </div>
                <div class="ibox-content">


                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-md-2">Numero Formato</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="1" readonly="readonly" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Fecha</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="28/11/2018" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Id Bodega</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="1" readonly="readonly" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Estado Movimiento</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="Activo" readonly="readonly" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Proveedor</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="ahm" readonly="readonly" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Numero Compra</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="1" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Compra Fecha</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="26/11/2018" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Factura Compra</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="17/11/2018" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Razon Devoluciones</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="producto con Golpe" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Bodega Destino</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="Bodega Central" readonly="readonly"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Tipo Entrada</label>

                            <div class="col-md-10">
                                <input type="text" class="text-box single-line" value="Entrada Por Devolucion" readonly="readonly"/>
                            </div>
                        </div>


                        @Html.ActionLink("Editar", "EditarPrueba", new { @class = "btn btn-primary" })
                        @Html.ActionLink("Regresar a Lista", "Index", null, new { @class = "btn btn-white" })

                    </div>
            </div>
        </div>
    </div>
</div>













