@model Inspinia_MVC5_SeedProject.Models.tbTiposInventario

@{
    ViewBag.Title = "detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>detalles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles TiposInventario</h5>
                </div>
                <div class="ibox-content">


	    <dl class="dl-horizontal">
        <dt>
             Codigo
        </dt>
            <dd>
                01
            </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
           De Bodega Centarl
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edtar", new { @class = "btn btn-primary"})
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













