@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbTiposInventario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipos de Inventario</h2>
        
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Tipos de Inventario</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

                <table class="table table-striped" id="tablaindexinv">
                    <thead>
                    <tr>
                        <th>
                            Codigo
                        </th>
                        <th>
                            Descripcion
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                De Bodega Distribuidora
                            </td>
                            <td>

                                @Html.ActionLink("Detalles", "detalles", new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Editar ", "edtar", new { @class = "btn btn-white btn-sm" })
                            </td>
                        </tr>

                    </tbody>
                </table>

                </div>
            </div>
        </div>
    </div>
 </div>


@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
    $(document).ready(function () {
        $('#tablaindexinv').DataTable({

        "searching": true,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });

    });

    </script>
}