 #Auditoria {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 30%;
        margin-left: 4%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
