@using Microsoft.AspNet.Identity
@using ERP_GMEDINA.Models
@{
    string UserName = "";
    GeneralFunctions Login = new GeneralFunctions();
    List<tbUsuario> User = Login.getUserInformation();
    foreach (tbUsuario Usuario in User)
    {
        UserName = Usuario.usu_Nombres + " " + Usuario.usu_Apellidos;
    }
}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-top-links navbar-right">
        <li>
            @Html.ActionLink("Hello " + @UserName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-top-links navbar-right">
        <li>@Html.ActionLink(@UserName, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"})</li>
        <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
