@model Inspinia_MVC5_SeedProject.Models.tbRolesUsuario



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>detalles tbRolesUsuario</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Rol Id
        </dt>

        <dd>
           01
        </dd>

        <dt>
            Usuario Id
        </dt>

        <dd>
            01
        </dd>

        <dt>
            UsuarioCrea
        </dt>

        <dd>
            admin
        </dd>

        <dt>
            FechaCrea
        </dt>

        <dd>
            2018-11-29
        </dd>

        <dt>
           UsuarioModifica
        </dt>

        <dd>
            -
        </dd>

        <dt>
            FechaModifica
        </dt>

        <dd>
            -
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "editar",  new { @class = "btn btn-primary"})
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













