@model IEnumerable<ERP_GMEDINA.Models.tbDenominacion>

@*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "hsttp://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">*@
@*<html xmlns="hsttp://www.w3.org/1999/xhtml">
    <head runat="server">*@

@*<script type="text/javascript" src="hsttp://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@

<h4>Detalles de Solicitud</h4>
<body>
    <div class="table table-responsive">
        <table class="table table-striped table-bordered" id="example1">
            <thead>
                <tr>
                    <th>
                        Denominación
                    </th>
                    <th>
                        Cantidad Solicitada
                    </th>
                    <th>
                        Monto Solicitado
                    </th>
                    <th>
                        Cantidad Entregada
                    </th>
                    <th>
                        Monto Entregado
                    </th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>                       
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
