@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbExoneraciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Exoneraciones</h2>
        <ol class="breadcrumb">
            <li class="active">
              s
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                ID Cliente
                            </th>
                            <th>
                                Fecha de Emisión
                            </th>
                            <th>
                                Fecha Inicial
                            </th>
                            <th>
                                Fecha Final
                            </th>
                            <th>
                                Imagen
                            </th>
                       
                            <th></th>
                        </tr>

                        <tr>
                            <td>
                                0501-1994-03093
                            </td>
                            <td>
                                25/10/2018
                            </td>
                            <td>
                                20/10/2018
                            </td>
                            <td>
                                30/10/2020
                            </td>
                            <td>
                                <img src="smiley.gif" alt="Documento" width="42" height="42" border="0">
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs">Detalles</button>
                                <button class="btn btn-primary btn-xs">Editar</button>
                                <button class="btn btn-primary btn-xs">Anular</button>
                            
                                @*@Html.ActionLink("Details", "Details", new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Edit", "Edit", new { @class = "btn btn-white btn-sm" })
                                @Html.ActionLink("Delete", "Delete", new { @class = "btn btn-white btn-sm" })*@
                            </td>
                        </tr>


                    </table>

                </div>
            </div>
        </div>
    </div>
 </div>



