@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbTiposDocumento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipo Documentos</h2>
        <ol class="breadcrumb">
            <li class="active">
                @*<strong>Tipo Descuento</strong>*@
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of tbTiposDocumento</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            Codigo Documento

            @*@Html.DisplayNameFor(model => model.docNombreDocumento)*@
        </th>
        
        <th>
            Nombre Documento
            @*@Html.DisplayNameFor(model => model.docNombreDocumento)*@
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            05
            @*@Html.DisplayFor(modelItem => item.docNombreDocumento)*@
        </td>

        <td>
            Nota de Credito
            @*@Html.DisplayFor(modelItem => item.docNombreDocumento)*@
        </td>
        <td>
            <button class="btn btn-primary btn-sm">Details</button>
            <button class="btn btn-primary btn-sm">Edit</button>
			@*@Html.ActionLink("Details", "Details", new { id=item.docCodTipoDocumento }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.docCodTipoDocumento }, new { @class = "btn btn-white btn-sm"})*@
        </td>
    </tr>


</table>

                </div>
            </div>
        </div>
    </div>
 </div>



