@model ERP_ZORZAL.Models.tbProductoSubcategoria



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Id Subcategoria
        </dt>

        <dd>
            2
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            niños
        </dd>

        <dt>
            Descripcion Estado Moviemineto
        </dt>

        <dd>
            Activo
        </dd>

        <dt>
            Nombre Categoria
        </dt>

        <dd>
            Ropa Interior
        </dd>
    </dl>


	    @Html.ActionLink("Editar", "Edit", new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar", "Index_Pro_SubC", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













