@model ERP_ZORZAL.Models.tbTipoEntrada


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles </h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            Id Entrada
                        </dt>

                        <dd>
                            1
                        </dd>

                        <dt>
                            Descripcion
                        </dt>

                        <dd>
                            Entrada Por Compra
                        </dd>

                    </dl>

                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>










