@model ERP_GMEDINA.Models.tbTipoEntrada

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipo Entrada</h2>
        @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Details</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","TipoEntrada")">Regresar</a>
            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary"})*@
        </div>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Tipo Entrada</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            Id Entrada
                        </dt>

                        <dd>
                            1
                        </dd>

                        <dt>
                            Descripcion
                        </dt>

                        <dd>
                            Entrada Por Compra
                        </dd>

                    </dl>
                    @Html.ActionLink("Editar", "Editar", null,  new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>










