@model IEnumerable<ERP_GMEDINA.Models.tbProducto>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="search" type="text" class="form-control" placeholder="Ingresar producto" />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="ibox-content">

                    <table id="tbProductoFactura" class="table table table-striped  table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.prod_Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.prod_Marca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.prod_Modelo)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.prod_CodigoBarras)
                                </th>
                                <th>Acción</th>
                            </tr>
                        </thead>

                        <tbody id="ProductoTbody">
                            
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

