@model Inspinia_MVC5_SeedProject.Models.tbTiposSalida

@{
    ViewBag.Title = "DetallePrueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Tipo de Salida</h2>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Tipo de Salida</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Codigo
        </dt>

        <dd>
            1
        </dd>
        <dt>
            Descripción
        </dt>

        <dd>
            Ventas
        </dd>
    </dl>


	    @Html.ActionLink("Editar", "EditarPrueba", null, new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar atrás", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













