@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbPedidos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Pedidos</h2>
        <ol class="breadcrumb">
            <li class="active">
                @*<strong>Lista de Pedidos</strong>*@
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Pedidos</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            Facturado
        </th>
        <th>
            Codigo Pedido
        </th>
        <th>
            Cliente
        </th>
        <th>
            Fecha de Pedido
        </th>
        <th>
           Fecha de Entrega
        </th>
       
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@
    <tr>
        <td>
            <input type="checkbox" id="estado" value="Aceptado">
        </td>
        <td>
            00001
        </td>
        <td>
            Sofia Graciela Ardón Martinez
        </td>
        <td>
           11/10/2018
        </td>
        <td>
           31/10/2018
        </td>
        <td>
            @*<input type="submit" class="btn btn-primary btn-sm" value="Detalle" />
            <input type="submit" class="btn btn-primary btn-sm" value="Actualizar" />
            <input type="submit" class="btn btn-primary btn-sm" value="Anular" />*@
            @Html.ActionLink("Detalle", "Detalle", null, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Editar", "Editar", null, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Delete", "Delete", null, new { @class = "btn btn-primary btn-xs" })
        </td>
    </tr>
@*}*@

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



