@model ERP_GMEDINA.Models.tbMunicipio

@{
    ViewBag.Title = "DetallePrueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Municipio</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Municipio</h5>
                </div>
                <div class="ibox-content">
				    <dl class="dl-horizontal">
        <dt>
            Nombre del Municipio
        </dt>

        <dd>
            San Pedro Sula
        </dd>

        <dt>
            Usuario Crea
        </dt>

        <dd>
            Test_2018
        </dd>

        <dt>
            Fecha Crea
        </dt>

        <dd>
            27/11/2018
        </dd>

        <dt>
            Usuario Modifica
        </dt>

        <dd>
            BR2018
        </dd>

        <dt>
            Fecha Modifica
        </dt>

        <dd>
            28/11/2018
        </dd>

        <dt>
            Nombre del Departamento
        </dt>

        <dd>
            Cortes
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "EditarPrueba", null, new { @class = "btn btn-primary"})
        @Html.ActionLink("Regresar al Listado", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













