@model IEnumerable<ERP_GMEDINA.Models.tbPedidoDetalle>
@using ERP_GMEDINA.Models
@{
    tbPedidoDetalle Detalle = new tbPedidoDetalle();
}

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" @*onclick="AddNewStudent(0)"*@data-toggle="modal"  data-target="#MyModal">Añadir Pedido Detalle</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo Producto</th>
                <th>Descripción Producto</th>
                <th>Cantidad</th>
                <th>Cantidad Facturada</th>
                <th>Acción(Editar)</th>
                <th>Acción(Quitar)</th>

            </tr>
        </thead>
        <tbody id="SetDetalleList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Student Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => Detalle.pedd_Id, new { @id = "Ppedd_Id" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => Detalle.prod_Codigo, new { @id = "Pprod_Codigo", @class = "form-control", @placeholder = "Codigo Producto*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => Detalle.pedd_Cantidad, new { @id = "Ppdd_Cantidad", @class = "form-control", @placeholder = "Cantidad*" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => Detalle.pedd_CantidadFacturada, new { @id = "Ppdd_CantidadFacturada", @class = "form-control", @placeholder = "Email*" })
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Guardar</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Delete Student Record</h4>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure? You Want To Delete This Record.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>











@*<script>
    $("#LoadingStatus").html("Cargando....");
    $.get("/Pedido/GetPedidoDetalle", null, DataBind);
    function DataBind(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].StudentId + "'>" +
                "<td>" + StudentList[i].pedd_Id + "</td>" +
                "<td>" + StudentList[i].prod_Codigo + "</td>" +
                "<td>" + StudentList[i].pedd_Cantidad + "</td>" +
                "<td>" + StudentList[i].pedd_CantidadFacturada + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].StudentId + ")' ><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStudentRecord(" + StudentList[i].StudentId + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }*@

    @*//Mostrar el modo emergente para agregar nuevo estudiante

    function AddNewStudent(StudentId) {
        $("#form")[0].reset();
        $("#StuId").val(0);
        $("#DropDwn option:selected").text("--Select Dept--");
        $("#ModalTitle").html("Add New Student");
        $("#MyModal").modal();

    }

    //Show The Popup Modal For Edit Student Record

    function EditStudentRecord(StudentId) {
        var url = "/Home/GetStudentById?StudentId=" + StudentId;
        $("#ModalTitle").html("Update Student Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#StuId").val(obj.StudentId);
                $("#StuName").val(obj.StudentName);
                $("#Email").val(obj.Email);
                $("#DropDwn option:selected").text(obj.tblDepartment.DepartmentName);
                $("#DropDwn option:selected").val(obj.DepartmentId);

            }
        })
    }

    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Home/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/Home/index";
                $("#MyModal").modal("hide");
            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteStudentRecord = function (StudentId) {
        $("#StuId").val(StudentId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var StuId = $("#StuId").val();
        $.ajax({
            type: "POST",
            url: "/Home/DeleteStudentRecord?StudentId=" + StuId,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + StuId).remove();
            }
        })
    }
</script>*@