<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Código</label>
        <input type="text" class="form-control" id="formGroupExampleInput" maxlength="2">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Municipio</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
    </div>
</form>
