<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Código</label>
        <input type="text" class="form-control" id="formGroupExampleInput" value="01" readonly>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Municipio</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" value="La Ceiba">
    </div>
</form>
