@model ERP_ZORZAL.Models.tbUsuario


@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        @*<h2>Create</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("List", "Index")
                </li>
                <li class="active">
                    <strong>Create</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="@Url.Action("Index","Box")">Regresar</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Usuario</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            <label class="control-label col-md-2">Usuario</label>
                        </dt>

                        <dd>
                            BayronMatute
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Nombres</label>
                        </dt>

                        <dd>
                            Bayron
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Apellidos</label>
                        </dt>

                        <dd>
                            Matute
                        </dd>


                        <dt>
                            <label class="control-label col-md-2">Correo</label>
                        </dt>

                        <dd>
                            Bayron_matute@gmail.com
                        </dd>
                        <dt>
                            <label class="control-label col-md-2">Estado</label>
                        </dt>

                        <dd>
                            Activo
                        </dd>
                        <dt>
                            <label class="control-label col-md-2">Razón Estado</label>
                        </dt>

                        <dd>

                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Administrador </label>
                        </dt>

                        <dd>
                            Mirian Deras
                        </dd>
                        <dt>
                            <label class="control-label col-md-2">Roles Usuario </label>
                        </dt>

                        <dd>
                            Cajero
                        </dd>

                        <dt>
                            <label class="control-label col-md-2"> Creado por</label>
                        </dt>

                        <dd>
                            BayronMatute

                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Fecha Creación</label>
                        </dt>

                        <dd>
                            23/09/2018
                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Modificado por</label>
                        </dt>

                        <dd>
                            AlexisSarmiento

                        </dd>

                        <dt>
                            <label class="control-label col-md-2">Fecha Modificación</label>
                        </dt>

                        <dd>
                            29/11/2018
                        </dd>

                    </dl>


                    @Html.ActionLink("Editar", "EditarPrueba", null, new { @class = "btn btn-primary btn-xs" })


                    @Html.ActionLink("Regresar al Listado", "Index", null, new { @class = "btn btn-primary btn-xs" })

                </div>
            </div>
        </div>
    </div>
</div>










