@model IEnumerable<ERP_ZORZAL.Models.tbUsuario>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Usuario</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Usuario</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear Usuario", "CrearPrueba", null, new { @class = "btn btn-primary"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped" id="datatables">
    <thead>
        <tr>
            <th>
               Nombre Usuario
            </th>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Correo
            </th>
            <th>
                Estado
            </th>
            <th>
                Razón Inactivo
            </th>
            <th>
                Administrador
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                BayronMatute
            </td>
            <td>
                Bayron
            </td>
            <td>
                Matute
            </td>
            <td>
                Bayron_matute@gmail.com
            </td>
            <td>
                Activo
            </td>
            <td>
            </td>
            <td>
                Mirian Deras
            </td>
            <td>
			    @Html.ActionLink("Detalles", "DetallePrueba", null, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Editar", "EditarPrueba", null, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
    </tbody>
</table>

                </div>
            </div>
        </div>
    </div>
 </div>



@section scripts{

    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script>
    $(document).ready(function () {
    $('#datatables').DataTable({

        "searching": true,
        "oLanguage": {
            "oPaginate": {
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sSearch": "Buscar",
            "sLengthMenu": "Mostrar _MENU_ Registros Por Página",
            "sInfo": "Mostrando _START_ a _END_ Entradas"

        },

    });

    });

    </script>
}