@model ERP_ZORZAL.Models.tbInventarioFisicoDetalle

@{
    ViewBag.Title = "DetallePrueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Inventario Fisico Detalle</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle Inventario Fisico Detalle</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Inventario Fisico Detalle Cantidad
        </dt>

        <dd>
            127
        </dd>

        <dt>
            Usuario Crea
        </dt>

        <dd>
            Test_2018
        </dd>

        <dt>
            Fecha Crea
        </dt>

        <dd>
            27/11/2018
        </dd>

        <dt>
            Usuario Modifica
        </dt>

        <dd>
            DB2018
        </dd>

        <dt>
            Fecha Modifica
        </dt>

        <dd>
            28/11/2018
        </dd>

        <dt>
            Unidad de Medida
        </dt>

        <dd>
            Unidad
        </dd>

        <dt>
            Inventario Fisico
        </dt>

        <dd>
            Inventario #1
        </dd>

        <dt>
            Producto
        </dt>

        <dd>
            Camisa Polo
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "EditarPrueba", new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar al Listado", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













