@model Inspinia_MVC5_SeedProject.Models.tbCategoria
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                ID Categoria
                            </th>
                            <th>
                                Descripcion
                            </th>

                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Ropa
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


