@model Inspinia_MVC5_SeedProject.Models.tbBodega



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            Id Bodega
                        </dt>

                        <dd>
                            000000
                        </dd>

                        <dt>
                            Responsable Bodega
                        </dt>

                        <dd>
                            Luis Perez
                        </dd>

                        <dt>
                            Bodega Direccion
                        </dt>

                        <dd>
                            S.P.S
                        </dd>

                        <dt>
                            Bodega Correo
                        </dt>

                        <dd>
                            bodega@hotmail.com
                        </dd>

                        <dt>
                            Bodega Telefono
                        </dt>

                        <dd>
                            215125454
                        </dd>

                        <dt>
                            Usuario
                        </dt>

                        <dd>
                            Juan Lopez
                        </dd>

                        <dt>
                            Municipio
                        </dt>

                        <dd>
                            La Ceiba
                        </dd>

                        <dt>
                            Estado Movimiento
                        </dt>

                        <dd>
                            Activo
                        </dd>
                    </dl>

                    @Html.ActionLink("Regresar", "Index_Bodega", null, new { @class = "btn btn-white" })

                </div>
            </div>
        </div>
    </div>
</div>