<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <label class="control-label">Detalle Denomonaciòn Efectivo</label>
                </div>
                <div class="ibox-content">

                    <div class="form-group">
                        <div class="col-md-offset col-md-12">
                            
                            <table class="table table-bordered">

                                <tr>
                                    <th class="warning">Moneda</th>
                                    <th class="warning">0.05 ctv</th>
                                    <th class="warning">0.10 ctv</th>
                                    <th class="warning">0.20 ctv</th>
                                    <th class="warning">0.50 ctv</th>
                                </tr>
                                <tr>
                                    <td>Unid.</td>
                                    <td>10</td>
                                    <td>15</td>
                                    <td>20</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <th class="warning">Billete</th>
                                    <th class="warning">1 LP</th>
                                    <th class="warning">2 LP</th>
                                    <th class="warning">5 LP</th>
                                    <th class="warning">10 LP</th>
                                </tr>
                                <tr>
                                    <td>Unid.</td>
                                    <td>10</td>
                                    <td>15</td>
                                    <td>20</td>
                                    <td>25</td>
                                </tr>
                            </table>
                        </div>
                         @Html.ActionLink("Volver", "Create", null, new { @class = "btn btn-white btn-xs" })
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
