@model ERP_GMEDINA.Models.tbProductoSubcategoria
@using ERP_GMEDINA.Models

                <div class="ibox-title">
                    <h5>Crear SubCategoría</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.pscat_Descripcion, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input type="text" id="pscat_Descripcion" onkeypress="return soloLetras(event)" placeholder="" class="form-control" />
                                <div id="ErroDescripcion_Create">
                                    <p style="color:red">
                                        @Html.ValidationMessageFor(model => model.pscat_Descripcion)
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.pscat_ISV, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input type="number" id="pscat_ISV" placeholder="" class="form-control" />
                                <div id="ErrorISV_Create">
                                    @Html.ValidationMessageFor(model => model.pscat_ISV)
                                </div>
                            </div>
                            @*<div class="form-group col-md-1">
                                <button class="btn btn-primary" type="button" id="AgregarSubCategorias">Añadir</button>
                            </div>*@
                            <div class="col-md-offset-4">
                                <input type="button" value="Agregar" id="AgregarSubCategorias" class="btn btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>