@model Inspinia_MVC5_SeedProject.Models.tbProductoCategoria



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles tbProductoCategoria</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Id Categoria
        </dt>

        <dd>
            00000
        </dd>

        <dt>
            Nombre Categoria
        </dt>

        <dd>
           Ropa
        </dd>
       
        <dt>
            Cantidad
        </dt>

        <dd>
           100
        </dd>

    </dl>


    @Html.ActionLink("Regresar", "Index_Pro_Ca", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













