@model ERP_ZORZAL.Models.tbProductoCategoria


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Categoría Producto</h2>
        @*<ol class="breadcrumb">
            <li>
                @Html.ActionLink("Listado", "Index")
            </li>
            <li class="active">

            </li>
        </ol>*@
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Producto Categoría</h5>
                </div>
                <div class="ibox-content">



                    <div class="form-horizontal">


                        <div class="form-group">
                            <label class="control-label col-md-2">Código</label>

                            <div class="col-md-10">
                                <input type="text" value="1" class="text-box single-line" readonly="readonly" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Nombre Categoría</label>

                            <div class="col-md-10">
                                <input type="text" value="Ropa" class="text-box single-line" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                            </div>
                        </div>
                        <div>
                            @Html.Partial("_ProductoSubCategoria", Model);
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



