@model IEnumerable<Inspinia_MVC5_SeedProject.Models.tbDetallesFactura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles de Factura</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Detalles Factura</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Factura</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
                        @*@Html.ActionLink("Nuevo", "Nuevo1", null, new { @class = "btn btn-primary btn-xs"})*@
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            Código Factura
            @*@Html.DisplayNameFor(model => model.tbFacturas.clte_Rtn)*@
        </th>
        <th>
            Producto
            @*@Html.DisplayNameFor(model => model.prod_Codigo)*@
        </th>
        <th>
            Cantidad
            @*@Html.DisplayNameFor(model => model.dfact_Cantidad)*@
        </th>
        <th>
            Descuento
            @*@Html.DisplayNameFor(model => model.dfact_Descuento)*@
        </th>
       <td>
         
       </td>
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@
    <tr>
        <td>
            789456123163216549
            @*@Html.DisplayFor(modelItem => item.prod_Codigo)*@
        </td>
        <td>
            Jabón UNOX
            @*@Html.DisplayFor(modelItem => item.prod_Codigo)*@
        </td>
        <td>
            5 
            @*@Html.DisplayFor(modelItem => item.prod_Codigo)*@
        </td>
        <td>
            0
            @*@Html.DisplayFor(modelItem => item.prod_Codigo)*@
        </td>
     
        <td>

        <td>
            
    

            <button class="btn btn-primary btn-xs" href="">Detalles</button>
            <button class="btn btn-primary btn-xs">Editar</button>
       
        </td>
    </tr>

    <tr>
        <td>
            489456123163216549
            @*@Html.DisplayFor(modelItem => item.prod_Codigo)*@
        </td>
        <td>
            Hojuelas de Avena
            @*@Html.DisplayFor(modelItem => item.prod_Codigo)*@
        </td>
        <td>
            2
            @*@Html.DisplayFor(modelItem => item.prod_Codigo)*@
        </td>
        <td>
            0.05
            @*@Html.DisplayFor(modelItem => item.prod_Codigo)*@
        </td>

        <td>

        <td>
   
            <button class="btn btn-primary btn-xs">Detalles</button>
            <button class="btn btn-primary btn-xs">Editar</button>
        </td>
    </tr>
@*}*@

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



