<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista", "Index")
            </li>
            <li class="active">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Subcategoria</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            IDCategoria
                        </dt>

                        <dd>
                            1
                        </dd>

                        <dt>
                            Descripcion
                        </dt>

                        <dd>
                            Pantalon jean 
                        </dd>

                    </dl>


                    @Html.ActionLink("Editar", "EditarPrueba", new { @class = "btn btn-primary" })
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
    </div>
</div>
